<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Builder.Presentation.Properties.Settings>
            <setting name="Accent" serializeAs="String">
                <value>Aurora Green</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>Hunter</value>
            </setting>
            <setting name="CharactersCollectionSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AllowEditableSheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSpellcards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharacterPanelAbilityScoresExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharacterPanelStatisticsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharacterPanelSavingThrowsExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CharacterPanelSkillsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharacterPanelQuickActionsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StartupCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupLoadCustomFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AbilitiesGenerationOption" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectionExpanderGridRowSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoNavigateNextSelectionWhenAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickSearchBarEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayRemoveLevelConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharacterSheetAbilitiesFlipped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShellWindowTop" serializeAs="String">
                <value>-150</value>
            </setting>
            <setting name="ShellWindowLeft" serializeAs="String">
                <value>-1920</value>
            </setting>
            <setting name="ShellWindowWidth" serializeAs="String">
                <value>1090</value>
            </setting>
            <setting name="ShellWindowHeight" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="ShellWindowState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DocumentsRootDirectory" serializeAs="String">
                <value>C:\Users\Hunter\Documents\5e Character Builder</value>
            </setting>
            <setting name="AdditionalCustomDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeItemcards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetIncludeFeatureCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetIncludeAttackCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Aurora Dark</value>
            </setting>
            <setting name="StartupCheckForContentUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetStartItemCardsOnNewPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SheetStartAttackCardsOnNewPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetStartFeatureCardsOnNewPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SheetIncludeFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLegacySpellcastingPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetDescriptionAbbreviateUsage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequestAddAttackWhenEquippingWeapon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SheetIncludeNonPreparedSpells" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLegacyDetailsPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLegactBackgroundPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigurationUpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultAbilityScoreMaximum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SheetFormattingActionSuffixBold" serializeAs="String">
                <value>True</value>
            </setting>
        </Builder.Presentation.Properties.Settings>
    </userSettings>
</configuration>